In [3]:
f=open("data files/demo.txt")
fh=f.read()
print(fh)
f.close()

file for demo purpode

In [2]:
f=open("data files/demo.txt","w")
data=f.write("haii")

f.close()
print(data)

4

In [3]:
with open('data files/demo.txt') as info:
    fh=info.read()
    print(fh)

haii

In [5]:
f=open("data files/demo1.txt","w")
data=f.write("haii this is mabu subani ")
data=f.write("haii this is mabu subani ")
f.close()
print(data)

25

In [6]:
with open('data files/demo1.txt') as info:
    fh=info.read()
    print(fh)

haii this is mabu subani haii this is mabu subani

In [9]:
count=0
with open('data files/charcount.txt') as info:
    fh=info.read()
    for i in fh:
        if i.isalpha():
            count+=1
print("the string count is",count)

the string count is 30

In [13]:
count=0
with open('data files/charcount.txt') as info:
    fh=info.read()
    for i in fh:
        if fh.split():
            
            
print("no .of words present in the document is",count)

IndentationError: expected an indented block (<ipython-input-13-43f955711797>, line 7)

In [14]:
f=open("data files/charcount.txt")
f1=f.read().split()
num=len(f1)
print(num)

5

In [19]:
with open("data files/charcount.txt") as info:
    fh=info.read()
print(fh)

welcome to vignan lara
welcome to python program workshop
python workshop

In [2]:
with open("data files/charcount.txt") as info:
    fh=info.read()
    fh1=fh.split()
    str=""
    for i in fh1:
        if i in str:
            str+=i
    print(str)

In [ ]:
with open("data files/charcwith open("data filesount.txt")

In [1]:
from random import randint
def marksgen(n,lb,ub):
    with open("data files/marks.txt",'w') as f:
        for i in range(0,n):
            r=randint(lb,ub)
            f.write(str(r)+'\n')
    return
n=int(input("enter student count: "))
lb=int(input("enter lower range"))
ub=int(input("enter upper range"))
sum=
marksgen(n,lb,ub)

enter student count: 50
enter lower range0
enter upper range100

In [16]:
#average calc
with open("data files/marks.txt") as f:
    
    data=f.read()
    marks=data.split()
    sum=0
    for mark in marks:
        sum+=int(mark)
    print(sum/len(marks))

51.36

In [7]:
from random import randint
def marksgen(n,lb,ub):
    with open("data files/marks.txt"'w') as f:
        for

SyntaxError: invalid syntax (<ipython-input-7-050b8cad5423>, line 4)

In [18]:
#pass percentage calc
with open("data files/marks.txt") as f:
    data=f.read()
    marks=data.split()
    pc=0
    for mark in marks:
        if int(mark)>=75:
            pc+=1
    print((pc/len(marks))*100)

28.000000000000004

In [20]:
with open("data files/marks.txt") as f:
    data=f.read()
    def varlen(num,*args):
        num=10
        print(num)
        for a in args:
            print(a)
varlen(10,'python','online','program',20,89,5)

10
python
online
program
20
89
5

In [43]:
dict={'name':'mabu','phone':7013327948}
dict

dict.setdefault('clg','vignan')
dict

{'name': 'mabu', 'phone': 7013327948, 'clg': 'vignan'}

In [44]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [45]:
dict.update({'village','inkollu'})

ValueError: dictionary update sequence element #0 has length 7; 2 is required

In [68]:
t=('key1','key2')
d=dict.fromkeys(t)
d

{'key1': None, 'key2': None}

In [50]:
#sets
k=set()
print(type(k))

<class 'set'>

In [51]:
l={1,2,3,4,5,6}
set(l)

{1, 2, 3, 4, 5, 6}

In [53]:
2 not in l

False

In [56]:
for i in l:
    print(i,end=" ")

1 2 3 4 5 6

In [58]:
#add
k={1,2,3,4}
k.add(10)
k

{1, 2, 3, 4, 10}

In [59]:
k={1,2,3,4}
k.add(10,11)
k

TypeError: add() takes exactly one argument (2 given)

In [60]:
k={1,2,3,4}
k.update({10,100})
k

{1, 2, 3, 4, 10, 100}

In [63]:
k.pop()
k

{3, 4, 10, 100}

In [67]:
k.remove(10)
k

{3, 100}

In [71]:
#difference
s={1,2,3,4}
k={10,20,30,40}
c=k.difference(s)
c

{10, 20, 30, 40}

In [2]:
d1={1,2,3,4,5}
d2={3,4,5,6,7,8}
d2.difference_update(d1)
d1

{1, 2, 3, 4, 5}

In [74]:
#symmentric difference
s={1,2,3,4}
k={10,20,30,40}
c=k.difference(s)
c

{10, 20, 30, 40}

In [75]:
s={1,2,3,4}
k={10,20,30,40}
c=s.intersection(k)
c

set()

In [3]:
s={1,2,3,4}
k={10,20,30,40}
c=s.intersection_update(k)
print(c)

None

In [12]:
s={1,2,3,4}
k={10,20,30,40}
k.symmetric_difference(s)
c

{1, 2, 3, 4, 10, 20, 30, 40}

In [3]:
s={1,2,3,4}
k={10,20,30,40}
c=k.symmetric_difference_update(s)
print(c)

None

In [4]:
s={1,2,3,4,5}
k={7,8,9}
c=k.isdisjoint(s)
print(c)

True

In [5]:
s={1,2,3,4,5}
k={7,8,9}
c=k.issubset(s)
print(c)

False

In [9]:
s={1,2,3,4,5,6,7,8,9}
k={7,8,9}
c=s.issuperset(k)
print(c)

True

In [2]:
n=int(input("enter number"))
for i in range(n,0,-1):
    print()
    for j in range(1,i+1):
        print("*",end=" ")

enter number5

* * * * *
* * * *
* * *
* *
*

In [1]:
n=int(input("enter number"))
for i in range(0,n,):
    print()
    for j in range(1,i+1,-1):
        print("*",end=" ")

enter number5

In [2]:
rows = input("Enter the number of rows: ")  
for i in range(0, rows):  
    for j in range(0, i + 1):  
        print("*", end=' ')  
    
    print(" ")  
  
for i in range(rows + 1, 0, -1):  
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

Enter the number of rows: 5

TypeError: 'str' object cannot be interpreted as an integer

Enter the number of rows: 7

TypeError: 'str' object cannot be interpreted as an integer