In [2]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a+b
print("your result is",c)

enter a value10
enter b value20
your result is 30

In [6]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1,10,):
    if i%2==0:
        print(i, end=' ')

2 4 6 8

In [28]:
n=int(input())
sum1=0
for i in range(1,n):
    print(i,end=" ")
    sum1+= i
print("\n",sum1)
print(sum1/n)

10
1 2 3 4 5 6 7 8 9
 45
4.5

In [37]:
n1=int(input())
n2=int(input())
sum1=0
for i in range(n1,n2):
   
    print(i, end=" ")
    sum1+=i
print()
print("sum is",sum1)
print("average is",sum1/n2)

10
20
10 11 12 13 14 15 16 17 18 19
sum is 145
average is 7.25

In [42]:
n= int(input())
sum1=0
for i in range(0,n,2):
    if i %2==0:
        print(i,end=" ")
        sum1=sum1+i
print(sum1, end=" ")

10
0 2 4 6 8 20

In [51]:
n=int(input())
sum1=0
count=0
for i in range(0,n):
    print(i,end=" ")
    count+=1
    sum1+=i
print()
print("sum is",sum1)
print(count)
print("average is",sum1/count)

10
0 1 2 3 4 5 6 7 8 9
sum is 45
10
average is 4.5

In [55]:
#leap year
year=int(input())
if year%4==0 and year%100!=0:
    print(year,"leap year")
elif year%100==0:
    print(year,"not a leap year")
elif year%400==0:
    print(year,"is leap year")
else:
    print("not a leap year")

2012
2012 leap year

In [ ]:
#factorial number
num=int(input())
factorial=1
if num<0:
    print("factorial is not possible")
elif num==0:
    print("factorial of ",num, "is 1")
else:
    for i in range(1,num+1):
        factorial =factorial *i
    print("factorial of ",num,"is",factorial)

In [2]:
#prime number
n=int(input())
fact_count=0
for i in range(1,n+1):
    if n%i==0:
        fact_count+=1
print(fact_count)
if fact_count==2:
    print(n,"is a prime number")
else:
    print(n,"is not a prime number")

7
2
7 is a prime number

In [12]:
#perfect number
n=int(input())
sum1=0
for i in range(1,n):
    if (n%i==0):
        sum1+=i
if (sum1==n):
    print("the number is perfect number")
else:
    print("the number is not a perfect number")

496
the number is perfect number

In [17]:
n=int(input())
sum1=0
fact=0
if n%2==0:
    print("even number")
    if(n%i==0):
        sum1+=i
    if (sum1==n):
        print("the number is perfect number")
else:
    for i in range(1,n):
        fact=fact*i
    print("factorial  is",fact)

20
even number

In [7]:
n=int(input())
for i in range(1,n+1):
    
    if i==6:
        continue
    print(i,end=" ")

10
1 2 3 4 5 7 8 9 10

In [9]:
#multiplication table
def table():
    n=int(input())
    for i in range(1,11):
        print(n, "*", i, "=", n*i)
table()

4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

n=input()
for i in n:
    print(i)

In [2]:
#ascii values
print(ord('a'))

97

In [5]:
#chr function
print(chr(112))
print(chr(1))
print(chr(2))

p



In [1]:
#print ascii value of a given string
name=input()
for i in name:
    print(ord(i))

mabu subanoi
109
97
98
117
32
115
117
98
97
110
111
105

In [8]:
n=input()
print(n)
print(ord(n))
if ord(n)%2==0:
    print("even")
else:
    print(ord(n)+ord(n)/40)

m
m
109
111.725

In [9]:
i=1
while i<10:
    if i%2==0:
        print(i,end=" ")
    i=i+1

2 4 6 8

In [12]:
#functions
name=input("enter your name: ")
def sample():
    print("welcome to python class",name)
sample()

enter your name: mabu subani
welcome to python class mabu subani

In [6]:
n=int(input())
def local():
    n1=int(input())
    print(n*n1,"multiplication result")
local()
print(n)

10
20
200 multiplication result
10

In [18]:

def required(name,org):
    print("name is ",name)
    print("organisation is",org)
required("mabu","vignan")

name is  mabu
organisation is vignan

In [20]:
#default
def default(a,b,c=10):
    print("addition is",a+b+c)
    print("a value is",a,"b value is",b,"c value is",c)
default(10,20)

addition is 40
a value is 10 b value is 20 c value is 10

In [21]:
#keywoed arguments
def keyword(fname,lname,username):
    print("your name is",fname+lname)
    print("username is",username)
keywoed("mabu","subani","mabusubhanishaik")

NameError: name 'keywoed' is not defined

In [4]:
def factorial(n):
    if n<0:
        return 0
    elif n==0 or n==1:
        return 1
    else:
        fact=1
        while(n>1):
            fact*=n
            n-=1
            return fact
n=4;
print("factorial number of",n, "is",factorial(n))

factorial number of 4 is 4

In [7]:
#n*n matrix creation
n=int(input())
print("the dimension is: ",n)
res=[list(range(1+n*i,1+n*(i+1))) for i in range(n)]
print("the created matrix is",res)

4
the dimension is:  4
the created matrix is [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [10]:
for i in range(0,11):
    if i%2==0:
        print(i,end=" ")
    else:
        print("odd numbers are",i)

0 odd numbers are 1
2 odd numbers are 3
4 odd numbers are 5
6 odd numbers are 7
8 odd numbers are 9
10